body {
    background-color: #21D4FC;
}

header {
    margin-top: 2em;
    width: 66%;
    background-color: white;
    margin: 2em auto 0 auto;
    padding: 1em;
}

#website-title {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

#start {
    height: 80px;
    width: 200px;
    background-color: #F6E4AD;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 2em;
    float: right;
    margin-top: 1em;
    margin-right: .5em;
    z-index: 0;
    position: relative;
}

#game-message-background {
    width: 500px;
    height: 150px;
    background-color: #C19A6B;
    font-size: 2em;
    text-align: center;
    margin: 1em auto;
}

#game-message {
    font-size: .85em;
}

#player-info {
    text-align: center;
    margin-top: 2em;
}


#player-1 {
    font-size: 2em;
    display: inline-block;
    padding: 1em 2em;
    background-color: #FFA500;
    justify-content: left;
    margin-right: 1em;
}

#player-2 {
    font-size: 2em;
    display: inline-block;
    padding: 1em 2em;
    background-color: #FFDF00;
    justify-content: left;
    margin-right: 1em;
}

#game-start {
    font-size: 2em;
    display: inline-block;
    padding: 1em 2em;
    background-color: #52307c;
    justify-content: left;
    margin-right: 1em;
    margin-top: 1em;
    color: white;
}

#roll-dice {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: white;
    justify-content: left;
    margin-right: 1em;
    text-align: center;
}

#dice-num {
    background-color: black;
    /* display: inline-block; */
    margin: 0 auto;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: relative;
    top: 38%
}

.gameboard {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(7, 65px);
    column-gap: 9px;
    row-gap: 9px;
    /* justify-content: center; */
}

.blue-space {
    background-color: blue;
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.red-space {
    background-color: #991A00;
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}